html * {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
    position: absolute;
    width: 1000px;
    height: 900px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mapdiv {
    width: 1000px;
    height: 600px;
    margin: 5px auto;
}
.description { 
    width: 800px;
    height: 320px;
    margin: 5px auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ce1b81;
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #ce1b81;
  text-align: center; 
}
